{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
  },
  "rules": {
    "max-len": ["error", 100, {"ignoreComments": true}],
    "no-unused-vars": ["error", {"vars": "all", "args": "none"}],
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": [
              "src",
              "node_modules"
            ]
          }
        }
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  }
}
